@model IEnumerable<SinglePageApplicationKaroliny.Models.Recipe>
@using MyResources = SinglePageApplicationKaroliny.Resources.Strings;

@{
    ViewBag.Title = "Index";
    var option = new AjaxOptions()
    {
        UpdateTargetId = "create",
        InsertionMode = InsertionMode.Replace
    };
}


<div class="container">
    <div class="row">
        

        <div class="col-md-6">
            @using (Ajax.BeginForm("GetCreate", option))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-info" value=@MyResources.Create />
            }

            <div id="create">
            </div>
        </div>
        <div class="col-md-6" id="recipies">
            @foreach (var item in Model.Reverse())
            {
                @Html.Partial("SmallIndex", item)
            }
        </div>
    </div>
</div>
